.bg-main {
  background: #2A75BB;
  min-height: calc(100vh - 90px);
  margin-top: 50px;
}

ul {
  list-style-type: none;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 45px;
}

li {
  width: 23%;
}