<footer class="footer fixed-bottom bg-margins mb-0">
  <div class="container-fluid d-flex flex-row justify-content-around w-75">
    <a 
      *ngFor="let page of pagesArray" 
      [routerLink]="'/'" 
      [queryParams]="{ page: page }" 
      class="page text-white page-button p-1 my-1 rounded fw-bold text-center"
      [ngClass]="
        page.toString() === currentPage 
        || 
        (url === '/' && page === 1)
        ? 'current-page' : ''
      "
    >
      {{ page }}
    </a>
  </div>
</footer>