.bg-margins {
  background: #FFCB05
}

.page-button {
  background-color: rgba(49, 49, 49, 0.3);
  text-decoration: none;
  min-width: 24px;
}

.current-page {
  background: #2A75BB;
}

footer {
  height: 40px;
}